{{#if course.sections}}
  <div class="container">
    <center><h5>Filter by Section</h5></center>
    <div class="section-select">
      {{#each course.sections}}
        <label for="section-{{ this }}"><input type="checkbox" class="filled-in" id="section-{{ this }}" name="section" value="{{ this }}" {{isChecked this ../courseData }}/><span>{{ this }}</span></label>
      {{/each}}
    </div>
  </div>
{{/if}}
<div class="container">
  <center>
    <h5>Customize Schedule</h5>
    <h6>Select the timeslots that you wish to include in your calendar</h6>
  </center>
</div>
{{#each course.events_repeating}}
  {{#if this}}
    <div class="container">
      <h5>{{unabbreviateDay @key }}</h5>
    </div>
    <div class="event-row">
      {{#each this}}
        <div class="event card-panel teal">
          <div class="card-content white-text">
            <p class="event-details event-time">{{ time }} <span class="event-details event-section">{{ section }}</span></p>
            <h5 class="event-title">{{unabbreviateType type }}</h5>
            <p class="event-details event-location">{{ building }} {{ room }}</p>
            <p class="event-details">{{#each instructors}}{{ this }} {{/each}}</p>
            <div class="switch">
              <label class="event-toggle">
                <input type="checkbox" name="timeslot" class="section-{{ section }} filled-in white-box" value="{{ @key }}" {{isChecked @key ../../courseData }}>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/each}}

<script>
  document.onreadystatechange = () => {
    if (document.readyState === 'complete') {
      function updateFilter() {
        let sectionLetters = [];
        $('input[type="checkbox"][name="section"]:checked').each(function() {
          sectionLetters.push($(this).val());
        });
        $('.event').each(function() {
          const section = $(this).find('.event-section').text().charAt(0);
          if (sectionLetters.length == 0 || sectionLetters.includes(section)) {
            $(this).show();
          } else {
            $(this).hide();
          } if ($(this).find('input[type="checkbox"][name="timeslot"]:checked').length > 0) {
            $(this).show();
          }
        });
      };

      updateFilter();
      $('input[type="checkbox"]').change(()=>{
        updateFilter();
      });

      $('.event').click(function(e) {
        const checkbox = $(this).find('input[type="checkbox"][name="timeslot"]').first();
        checkbox.prop('checked', !checkbox.prop("checked"));
      });
    }
  };
</script>
