<div class="row">
      {{#each user.courses}}
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><small>{{@key}}: {{name}}</small> </span>
              <p>{{desc}}</p>
            </div>
            <div class="card-action">
              <a href="/manage/edit/{{@key}}">Edit</a>
              <a class="confirm-link"
              data-confirmMessage="Are you sure you want to remove {{@key}} from your calendar?"
              data-confirmYes="Drop"
              data-confirmNo="Keep"
              href="/manage/drop/{{@key}}">Drop</a>
            </div>
          </div>
        </div>
     {{/each}}
</div>
