<!doctype html>

<html>
<head>
	<title>IxD Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/style/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<form method="post">
		<nav class="top-nav">
	    <div class="nav-wrapper">
	      <span class="brand-logo">{{#if editing}}Edit {{ course.code }}: {{ course.name }}{{else}}Manage Courses{{/if}}</span>
				<ul class="nav-ul left">
					{{#if editing}}
					<li><a href="/manage"><i class="material-icons">chevron_left</i></a></li>
					{{else}}
					<li><a href="#" data-activates="slide-out" class="button-collapse waves-effect"><i class="material-icons">menu</i></a></li>
					{{/if}}
	      </ul>
	    </div>
	  </nav>
		{{> sidenav this }}
	<main>
		{{#if editing}}
			{{> course this}}
		{{else}}
			{{#if hasCourses}}
      	{{> courselist this }}
			{{else}}
				<div class="container">
					<center>
						<br />
						<h6>Add a course to get started</h6>
					</center>
				</div>
			{{/if}}
    {{/if}}
	</main>
		<footer>
			{{#if editing}}
				<button class="btn btn-large waves-effect waves-light" id="section-next" type="submit" name="action" value="next">Save
					<i class="material-icons right">send</i>
				</button>

				<button class="btn btn-large waves-effect waves-light" id="section-custom" type="submit" name="action" disabled>Add Event
					<i class="material-icons right">event</i>
				</button>
			{{else}}
				<a href="/" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
			{{/if}}
		</footer>
	</form>
	{{> script }}
</body>
</html>
